.btn {
  border-radius: 50%;
  border: 1px solid var(--black-main);
  cursor: pointer;
  font: inherit;

  &--play-stop {
    font-size: 2rem;
    padding: 10.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: var(--shadow-main);
    background-color: var(--purple-accent-color);
    will-change: transform, background-color, filter;
    transition: transform 0.3s, background-color 0.2s, filter 0.3s;

    &:hover {
      background-color: var(--light-purple-accent-color);
      filter: var(--shadow-hover);
      transform: translate(-50%, -52%);
    }

    &:active {
      transform: translate(-50%, -51%);
      filter: var(--shadow-main);
    }
  }

  &__text {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &--shift {
    font-size: 3rem;
    width: 6rem;
    height: 6rem;
    position: absolute;
    bottom: 0;
    will-change: transform, background-color, filter;
    transition: transform 0.3s, background-color 0.2s, filter 0.3s;
    background-color: var(--purple-accent-color);
    filter: var(--shadow-main);

    &:hover {
      transform: translateY(-0.2rem);
      background-color: var(--light-purple-accent-color);
      filter: var(--shadow-hover);
    }

    &:active {
      transform: translateY(-0.1rem);
      filter: var(--shadow-main);
    }
  }

  &--minus {
    left: 10%;
  }

  &--plus {
    right: 10%;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
