.circle-container {
  width: 75%;
  height: 75%;
  max-width: 60rem;
  max-height: 60rem;
  padding: 5rem;
  margin: auto;
  position: relative;
}

.background {
  fill: var(--circle-background);
}

.cell {
  fill: var(--off-color);
}

.on {
  fill: var(--on-color);
}

.current {
  stroke: var(--current-color);
  stroke-width: 0.5;
}
