.circle-container {
  width: 75%;
  height: 75%;
  max-width: 60rem;
  max-height: 60rem;
  padding: 2rem;
  margin: auto;
  position: relative;
  filter: var(--shadow-main);
}

.background {
  fill: var(--green-accent-color);
}

.cell {
  fill: var(--purple-accent-color);
  cursor: pointer;
  stroke-width: 0.15;
  will-change: fill, stroke;
  transition: fill 0.2s;

  &:hover {
    fill: var(--light-purple-accent-color);
  }
}

.on {
  stroke: var(--black-main);
}

.current {
  stroke: var(--current-color);
}
