.control {
  &__container {
    text-align: center;
  }

  padding: 1.5rem 3rem;
  font-size: 2rem;
  display: inline-block;

  &__input {
    width: 6rem;
    padding: 1rem;
    font-size: inherit;
  }

  &__error-msg {
    font-size: 1.6rem;
    padding: 0.5rem 0;
  }

  &__slider {
    cursor: pointer;
  }
}
