:root {
  --black-main: #0f0f0f;
  --on-color: #bacc6e;
  --off-color: #cc584a;
  --current-color: #fff;
  --main-background-color: #f5deb3;
  --purple-accent-color: #c7b3f5;
  --light-purple-accent-color: #d8caf8;
  --green-accent-color: #e1f5b3;
  /* SHADOWS */
  --shadow-main: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  --shadow-hover: drop-shadow(5px 5px 17px rgba(0, 0, 0, 0.15));
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Ropa Sans", sans-serif;
  background-color: var(--main-background-color);
}

.u-hidden {
  visibility: hidden !important;
}

.btn {
  border-radius: 50%;
  border: 1px solid var(--black-main);
  cursor: pointer;
  font: inherit;
}
.btn--play-stop {
  font-size: 2rem;
  padding: 10.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: var(--shadow-main);
  background-color: var(--purple-accent-color);
  will-change: transform, background-color, filter;
  transition: transform 0.3s, background-color 0.2s, filter 0.3s;
}
.btn--play-stop:hover {
  background-color: var(--light-purple-accent-color);
  filter: var(--shadow-hover);
  transform: translate(-50%, -52%);
}
.btn--play-stop:active {
  transform: translate(-50%, -51%);
  filter: var(--shadow-main);
}
.btn__text {
  position: absolute;
  transform: translate(-50%, -50%);
}
.btn--shift {
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: 0;
  will-change: transform, background-color, filter;
  transition: transform 0.3s, background-color 0.2s, filter 0.3s;
  background-color: var(--purple-accent-color);
  filter: var(--shadow-main);
}
.btn--shift:hover {
  transform: translateY(-0.2rem);
  background-color: var(--light-purple-accent-color);
  filter: var(--shadow-hover);
}
.btn--shift:active {
  transform: translateY(-0.1rem);
  filter: var(--shadow-main);
}
.btn--minus {
  left: 10%;
}
.btn--plus {
  right: 10%;
}
.btn:focus, .btn:active {
  outline: none;
}

.circle-container {
  width: 75%;
  height: 75%;
  max-width: 60rem;
  max-height: 60rem;
  padding: 2rem;
  margin: auto;
  position: relative;
  filter: var(--shadow-main);
}

.background {
  fill: var(--green-accent-color);
}

.cell {
  fill: var(--purple-accent-color);
  cursor: pointer;
  stroke-width: 0.15;
  will-change: fill, stroke;
  transition: fill 0.2s;
}
.cell:hover {
  fill: var(--light-purple-accent-color);
}

.on {
  stroke: var(--black-main);
}

.current {
  stroke: var(--current-color);
}

.control {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  display: inline-block;
}
.control__container {
  text-align: center;
  padding: 2rem;
}
.control__input {
  width: 5rem;
  text-align: center;
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
}
.control__error-msg {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}
.control__slider {
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  width: 57%;
  margin: 7px 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  background: var(--green-accent-color);
  border-radius: 10px;
  border: 0.3px solid rgba(0, 0, 0, 0.5);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: var(--purple-accent-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f5ffc7;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  background: var(--green-accent-color);
  border-radius: 10px;
  border: 0.3px solid rgba(0, 0, 0, 0.5);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: var(--purple-accent-color);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  margin: 5px 0;
}

input[type=range]::-ms-fill-lower {
  background: var(--purple-accent-color);
  border: 0.3px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
}

input[type=range]::-ms-fill-upper {
  background: var(--green-accent-color);
  border: 0.3px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
}

input[type=range]::-ms-thumb {
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: var(--purple-accent-color);
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #dbc7ff;
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(245, 255, 199, 0.2);
}/*# sourceMappingURL=main.css.map */