.circle {
  &__box {
    margin: auto;
    position: relative;
    grid-area: 1 / 1 / span 3 / span 3;

    // Rotate so cell0 is on top
    transform: rotate(-90deg);
  }

  &__cell {
    position: absolute;
    opacity: 1;
    will-change: opacity, background-color;
    transition: opacity 0.3s, background-color 0.2s;

    // Offset container rotation
    transform: rotate(90deg);

    &.btn:hover,
    &.btn:focus {
      transform: rotate(90deg) translateY($btn-hover-translate);
    }

    &.btn:active {
      transform: rotate(90deg) translateY($btn-active-translate);
    }

    &--on {
      background-color: var(--green-accent-color);

      &.btn:hover,
      &.btn:focus {
        background-color: var(--light-green-accent-color);
      }
    }

    &--current {
      border-color: var(--white-main);
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      border: var(--white-main) 3px solid;
      border-radius: 50rem;
      transform: scale(1.3);
      opacity: 0;
      will-change: transform, opacity;
      transition: transform 0.3s, opacity 0.3s;
    }
  }
}
