.circle {
  &__box {
    margin: auto;
    position: relative;
    grid-area: 1 / 1 / span 3 / span 3;

    // Rotate so cell0 is on top
    transform: rotate(-90deg);
  }

  &__cell {
    position: absolute;

    // Offset container rotation
    transform: rotate(90deg);

    &.btn:hover,
    &.btn:focus {
      transform: rotate(90deg) translateY($btn-hover-translate);
    }

    &.btn:active {
      transform: rotate(90deg) translateY($btn-active-translate);
    }

    &--on {
      background-color: var(--green-accent-color);

      &.btn:hover,
      &.btn:focus {
        background-color: var(--light-green-accent-color);
      }
    }

    &--current {
      border-color: var(--white-main);
    }
  }
}
